<% @title = "最近博客文章" %>
<% @title << " | 第#{params[:page]}页" if params[:page] && params[:page].to_i > 1 %>
<% @description = '最近发表的博客文章列表' %>

<div class="left">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <strong>特别说明：</strong>
    <%= @desc %>
  </div>

  <%= partial 'blog/blog', :collection => @blogs %>
  <div>
    <%= (will_paginate @blogs, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
  </div>
</div><!-- left content -->

<div class="right">
  <%= partial 'blog/right' %>
</div><!-- right content -->

<%= partial 'blog/articles_count', :locals => {:blogs => @blogs} %>